{% extends 'components/base.html' %}

{% block content %}
        <div class="row row-cols-3 gy-5">
            {%for product in products_%}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Товар №{{product.id}}</h5>
                            <p class="card-text"><span class="key-card-text-color">Колір:</span> {{product.color}} </p>
                            <p class="card-text"><span class="key-card-text-color">Вага:</span> {{product.weight}}</p>
                            <p class="card-text"><span class="key-card-text-color">Ціна:</span> {{product.price}}</p>
                            <a href="{{ url_for('product', id=product.id) }}" class="btn btn-primary">Заказати</a>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
{% endblock %}