{% extends 'components/base.html' %}

{% block content %}
        <h1>Всього замовлень: 3</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#номер</th>
                <th scope="col">Колір</th>
                <th scope="col">Вага</th>
                <th scope="col">Ціна</th>
                <th scope="col">Адесса</th>
                <th scope="col">Статус</th>
              </tr>
            </thead>
            <tbody>
            {% for order in orders_%}
               <tr>
                <th scope="row">{{order.id}}</th>
                <td>{{order.product_order.color}}</td>
                <td>{{order.product_order.weight}}</td>
                <td>{{order.product_order.price}}</td>
                <td>{{order.address_order.country.name}} {{order.address_order.city.name}} {{order.address_order.street.name}}</td>
                <td>{{order.status.value}}</td>
              </tr>
            {%endfor%}
            </tbody>
          </table>
{% endblock %}